<h1><%= t('.Followings') %></h1>
<% @user.followings.each do |user| %>
  <table>
    <tr>
      <td><%= image_tag user.image.variant(resize: "50x50") %></td>
      <td><%= user.name %></td>
      <td><%= link_to t('.Info'), user_path(user) %></td>
    </tr>
  </table>
<% end %>
<br>
<%= link_to t('.Back'), user_path(@user) %>
