<%= form_with(model: report, local: true) do |form| %>
  <% if report.errors.any? %>
    <div id="error_explanation">
      <%=t "activerecord.errors.template.header.other", :model => Report.model_name.human, :count => @report.errors.count %>
      <ul>
      <% report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :report_title, size: "42" %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, id: :report_body, size: "40x10" %>
  </div>

  <div class="field">
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
