<p class="details">
  <strong><%= t('.Title') %>:</strong>
  <%= @report.title %>
</p>

<p class="details">
  <strong><%= t('.Body') %>:</strong>
  <%= simple_format(@report.body) %>
</p>

<p class="details">
  <strong><%= t('.Contributor') %>:</strong>
  <%= link_to @report.user.name, user_path(@report.user) %>
</p>

<br><br>
<% if @report.user_id == current_user.id %>
  <%= link_to t('.Edit_Report'), edit_report_path(@report) %>
<% end %>

<br>
<%= render 'comments/form', comment: @comment %>
<%= render 'comments/show', comments: @comments %>
