<!DOCTYPE html>
<html>
  <head>
    <title>BooksApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>

  <header>
    <nav>
      <% if I18n.locale.to_s == "en" %>
        <%= link_to('日本語', :locale => 'ja') %>
      <% else %>
        <%= link_to('English', :locale => 'en') %>
      <% end %>
    </nav>

    <div class="sign_in_user_container">
      <% if user_signed_in? %>
        <% if current_user.image.attached? == false %>
          <%= attach_default_image %>
        <% end %>
        <p class="user_image"><%= link_to image_tag(current_user.image.variant(resize: "50x50")), user_path(current_user.id) %></p>

        <p class="user_name"><%= t('.signing_in_user', username: current_user.name) %><p>

        <% if current_user.provider == "" %>
          <p class="edit_profile"><%= link_to t('.Edit'), edit_user_path(current_user.id) %></p>
        <% end %>
      <% end %>
    </div>

    <p id="notice"><%= notice %></p>
    <hr>

  </header>

  <body>
    <%= yield %>

    <br><br>

    <% if user_signed_in? %>
      <%= link_to t('.To_Books'), books_path %> |
      <%= link_to t('.To_Reports'), reports_path %> |
      <%= link_to t('.To_Users'), users_path %> |
      <%= link_to t('.To_Timeline'), timeline_user_path(current_user.id) %>
      <br><br>
      <p><%= link_to t('.sign_out'), destroy_user_session_path, method: :delete %></p>
    <% end %>
  </body>
</html>
